root = true

[*]
max_line_length = 140
guidelines = 140
guidelines_style = 1px solid 40ff0000
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = crlf