body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

h3 {
    margin-bottom: 1rem;
}

h4 {
    padding-top: 25px;
}

.table-sm,
.btn-xs {
    font-size: 0.75rem;
}

.table-sm th,
.table-sm td,
.btn-xs {
    padding: 0.25rem;
}

table {
    margin-bottom: 0;
}

td {
    vertical-align: middle;
}

.text-faded {
    color: rgba(0, 0, 0, 0.35) !important;
}
